# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs y Data
*.log
data/*.json
data/reports/*.json

# Secretos
.env

# OS
.DS_Store
Thumbs.db
